<body onload="reloj()"></body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" >AguaZero</a>
    </div>
    <ul class="nav navbar-nav">
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMIN
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Usuarios/nuevo">Registrar usuario</a></li>
          <li><a href="/Usuarios/Pagina/1">Ver usuarios</a></li>
        </ul>
      </li>


      {% endif %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">USUARIO
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% if current_user.is_authenticated %}
          <li><a href="/Usuarios/verPerfil">Ver Perfil</a></li>
          <li><a href="/Usuarios/cerrarSesion">Cerrar sesión</a></li>
          {% else %}
          <li><a href="/Usuarios/iniciarSesion">Iniciar sesión</a></li>
          {% endif %}
        </ul>
      </li>
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">VEHICULOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/vehiculo/agregar">Nuevo Vehiculo</a></li>
          <li><a href="/vehiculo/consultar/1">Consultar Vehiculos</a></li>
        </ul>
      </li>
      {% endif %}
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GARRAFONES
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Garrafones/agregar">Nuevo garrafón</a></li>
          <li><a href="/Garrafones/mostrar/1">Consultar garrafones</a></li>

        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROMOCIONES
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Promociones/agregar">Agregar promocion</a></li>
          <li><a href="/Promociones/pagina/1">Ver promociones</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EMPLEADOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Empleados/nuevo">Agregar empleado</a></li>
          <li><a href="/Empleados/Pagina/1">Ver empleados</a></li>
        </ul>
      </li>

       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">NOMINAS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Nomina/nueva">Registrar Nomina</a></li>
          <li><a href="/Nomina/consultar/1">Ver Nominas</a></li>
        </ul>
      </li>

      {% endif %}
      {% if current_user.is_authenticated and current_user.is_admin() %}

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">VENTA_DETALLE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Ventas_detalle/agregar">Agregar Venta_detalle</a></li>
          <li><a href="/Ventas_detalle/mostrar/1">Ver Venta_detalle</a></li>
        </ul>
      </li>

       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">TARJETAS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Tarjetas/agregar">Agregar tarjeta</a></li>
          <li><a href="/Tarjetas/consultar/1">Ver tarjetas</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">REPARTIDORES
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Repartidores/nuevo">Agregar Repartidor</a></li>
          <li><a href="/Repartidores/Pagina/1">Ver Repartidores</a></li>
        </ul>
      </li>

      <!-- Menu Factura -->
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FACTURA
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Factura/nueva">Agregar Factura</a></li>
          <li><a href="/Factura/consultar/1">Ver Facturas</a></li>
        </ul>
      </li>
      {% endif %}

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="reloj"></a>
      </li>

    </ul>
  </div>
</nav>
<script src="{{url_for('static',filename='js/reloj.js')}}"></script>