    {% extends 'comunes/base.html' %}
    {% block contenido %}
        {{super()}}
        <h1>Consulta de Promocion</h1>
       <form action="/Promociones/actualizar" method="post">
       <div>
            <label>ID</label>
            <input type="text" maxlength="10" name="ID" required value="{{promociones.idpromocion}}" readonly class="form-control form-control-lg">
        </div>
        <br>

        <br>
        <div class="radio">
            <label>Estatus:</label>
            {%if promociones.estatus==1%}
            <label class="radio-inline"><input type="radio" name="estatus" value=0>Inactivo</label>
            <label class="radio-inline"><input type="radio" name="estatus" value=1 checked>Activo</label>
            {%else%}
            <label class="radio-inline"><input type="radio" name="estatus" value=0 checked>Inactivo</label>
            <label class="radio-inline"><input type="radio" name="estatus" value=1>Activo</label>
            {%endif%}
        </div>
        <br>
        <div>
            <label>Porcentaje</label>
            <input type="text" name="porcentaje" maxlength="10"  placeholder="%" required value="{{promociones.porcentaje}}" class="form-control form-control-lg">
        </div>

        <br>
           <div>
            <label>Codigo</label>
            <input type="text" name="codigo" maxlength="10"  placeholder="%" required value="{{promociones.codigo}}"  readonly class="form-control form-control-lg">
        </div>
           <br>
        <button type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Actualizar
        </button>

        <a href="/Promociones/eliminar/{{promociones.idpromocion}}" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Eliminar
        </a>
    </form>
    {% endblock %}