{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1 class="bg-primary text-center">Registro de Promocion</h1>
    <form action="/Promociones/agregando" method="post">
        <div>
            <label>Código</label>
            <input type="text" name="codigo" maxlength="5"  placeholder="Escribe un código" required class="form-control form-control-lg">
        </div>
           <br>
        <div>
            <label>Porcentaje</label>
            <input type="text" name="porcentaje" maxlength="2"  placeholder="%" required class="form-control form-control-lg">
        </div>
        <br>

        <button type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Crear
        </button>
        </a>
    </form>
    <br>
    <a href="/" class="btn btn-danger mb-3">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>
<br>
{% endblock %}