{% extends 'comunes/base.html' %}
{% block contenido %}
{{super()}}
    <h1>LISTADO DE USUARIOS - PÁGINA {{pagina}}</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>NOMBRE COMPLETO</th>
            <th>EMAIL</th>
            <th>TIPO</th>
            <th>ESTATUS</th>
            <th>VER</th>
        </thead>
        {% for u in usuarios.items %}
            <tr>
                <td>{{u.idUsuario}}</td>
                <td>{{u.nombre}}</td>
                <td>{{u.correo}}</td>
                <td>{{u.tipo}}</td>
                {% if u.estatus=='1' %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                    <td>
                        <a href="/Usuarios/{{u.idUsuario}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <br>

    <ul class="pagination">
    {% for page in usuarios.iter_pages() %}
        {% if page %}
            {% if page == pagina %}
                <li class="active"><a href="#">{{page}}</a></li>
            {% else %}
                <li><a href="{{url_for('usuariosPagina', pagina=page)}}">{{ page }}</a></li>
            {% endif %}
        {% else %}
        <li><a href="#">...</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <br>
    <a href="/" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>
{% endblock %}