{% extends 'comunes/base.html' %}
{% block contenido %}
{{super()}}
    {% if consulta == 'general' %}
    <h1>LISTADO DE USUARIOS</h1>
    {% else %}
    <h1>LISTADO DE USUARIOS - Tipo: {{consulta}}</h1>
    {% endif %}
<br>
<ul class="pagination">
    <li class="active"><a href="#">Filtro: </a></li>
    <li><a href="/Usuarios/verUsuarios">Todos</a></li>
    <li><a href="/Usuarios/verUsuarios?tipo=Administrador">Administrador</a></li>
    <li><a href="/Usuarios/verUsuarios?tipo=Vendedor">Vendedor</a></li>
    <li><a href="/Usuarios/verUsuarios?tipo=Cliente">Cliente</a></li>
</ul>
<br>
<form action="/Usuarios/verUsuarios" method="get">
    Buscar por nombre: <input type="text" name="nombre">
    <input type="submit" value="Buscar">
</form>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>NOMBRE COMPLETO</th>
            <th>EMAIL</th>
            <th>TIPO</th>
            <th>ESTATUS</th>
            <th>VER</th>
        </thead>
        {% for u in usuarios %}
            <tr>
                <td>{{u.idUsuario}}</td>
                <td>{{u.nombre}}</td>
                <td>{{u.correo}}</td>
                <td>{{u.tipo}}</td>
                {% if u.estatus=='1' %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                    <td>
                        <a href="/Usuarios/{{u.idUsuario}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <a href="/" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>
{% endblock %}