{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
     <h1 class="bg-primary text-center">Registro de vehiculo</h1>
    <form action="/vehiculo/agregandoVehiculo" method="post">
        <div>
            <label>Placas</label>
            <input id="placas" onblur="consultarPlacas()" type="text" name="placas" maxlength="6" placeholder="##-##-##" class="form-control form-control-lg" >
        </div>
        <br>
        <div>
            <label>Tipo Vehiculo</label>
            <select name="tipoVehiculo" class="form-control form-control-lg" >
                <option value="Carro">Carro</option>
                <option value="Motocicleta">Motocicleta</option>
            </select>
        </div>
        <br>
        <div>
            <label>Tipo de Combustible</label>
            <select name="tipoCombustible" class="form-control form-control-lg" >
                <option value="Gasolina">Gasolina</option>
                <option value="Diesel">Diesel</option>
            </select>
        </div>
        <br>
        <div>
            <label>Capacidad de tanque</label>
            <input type="text" maxlength="2" name="capacidadTanque" required class="form-control form-control-lg" >
        </div>
        <br>
        <div>
            <label>Modelo</label>
            <input type="text" maxlength="45" name="modelo" required class="form-control form-control-lg" >
        </div>
        <br>
        <div>
            <label>Año</label>
            <input type="text" maxlength="4" name="año" required class="form-control form-control-lg" >
        </div>
        <br>
        <div>
            <label>Capacidad de Garrafones</label>
            <input type="text" maxlength="4" name="capacidadGarrafones" required class="form-control form-control-lg" >
        </div>
        <br>
        <button id="registrar" type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Registrar
	    </button>
    </form>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static',filename='js/vehiculos.js')}}"></script>
{% endblock %}