{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1>Consultar Pagos</h1>

     <form action="/Pagos/consultar/1" method="get">
             
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>IDPAGO</th>
                <th>EMPLEADO</th>
                <th>SUBTOTAL</th>
                <th>DIAS PENALIZADOS</th>
                <th>AMONESTACION</th>
                <th>TOTAL</th>
                <th>FECHA</th>
                <th>TARJETA</th>
            </thead>
            {% for pay in pagos_sin_paginacion %}
            <tr>
                <td>{{pay.idPago}}</td>
                <td>{{pay.tarjetas.empleado.usuario.nombre}}</td>
                <td>${{pay.nomina.salario_total}}</td>
                <td>{{pay.dias_pe}} día(s)</td>
                <td>${{pay.nomina.salario_total - pay.total}}</td>
                <td>${{pay.total}}</td>

                <td>{{pay.fecha}}</td>
                <td>{{pay.tarjetas.numero_tarjeta}}</td>
                <td>
                    <a href="/Pagos/editar/{{pay.idPago}}">
                           <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="/Pagos/eliminar/{{pay.idPago}}">
                          <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
 <div>
    <br>

<div id="notificaciones">
        <a href="{{url_for('consultarPagos', pagina=1)}}" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
        </a>

</div>
{% endblock %}