{% extends 'comunes/base.html' %}
{% block contenido %}
{{super()}}
<h1 class="bg-primary text-center">Registro De Pagos</h1>
<form action="/Pagos/agregando" method="post">

           	
	<label for="nomina">Nomina:</label>
            <select id="empleados" name='Nominas' class="form-control" onchange="obtenerID()">
                <option value='0'>Selecciona un empleado</option>
                {% for n in nomina  %}
                <option value="{{n.empleado.idEmpleado}}">{{n.empleado.usuario.nombre}}</option>
                {% endfor %}
            </select>
        <br>

    <div class="form-group">
        <label for="Pagos">Fecha:</label>
        <input type="date" name="Fecha" class="form-control form-control-lg" required>
    </div> 
        <br>
        <div>
            <label>Dias penalizados:</label>
            <select name="dias_pe" class="form-control form-control-lg" >
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
<br>

    <div id="tarjetasdiv">
        <label for="tarjetasdiv">Tarjetas:</label>
            <select id="tarjetas" name='Tarjetas' class="form-control" readonly>
                <option id="removeme" class="form-control form-control-lg">Selecciona primero un cliente</option>
            </select>
    </div>
    <input type="hidden" name="idNomina" id="idNomina" value="0">
<br>

	<button type="submit" class="btn btn-primary mb-3">
		<span class="glyphicon glyphicon-floppy-disk"></span>
		Registrar
	</button>

	

</form>
<br>

     <a href="/Pagos/consultar/1" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>
<div id="notificaciones">

</div>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static',filename='js/pagos.js')}}"></script>
{% endblock %}