{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1 class="bg-primary text-center">Registro de Puestos</h1>

    <form action="/Puesto/agregando" method="post" onsubmit="return validar(this)">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input class="form-control form-control-lg" type="text" name="nombre" maxlength="50"  placeholder="Ejemplo: llenador" required>
        </div>
        <div class="form-group">
            <label for="salario_min">Salario por día</label>
            <input class="form-control form-control-lg" type="number" name="salario" maxlength="5" placeholder="Ejemplo: $250" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input class="form-control form-control-lg" type="text" name="descripcion" maxlength="200" placeholder="Añade una descripción" required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Registrar
        </button>
        <a href="/Usuarios/iniciarSesion" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
        </a>
    </form>
<div id="notificaciones">

</div>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static',filename='js/puestos.js')}}"></script>
{% endblock %}