{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1>Consultar Factura</h1>

     <form action="/Factura/consultar/1" method="get">
        Buscar por Fecha:
         <input class="form-control form-control-lg" type="text" name="filtro">
         <br>
         <input class="btn btn-success" type="submit" value="Buscar" required>
          <a href="{{url_for('consultarFactura', pagina=1)}}" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
        </a>
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>IDFACTURA</th>
                <th>FECHA</th>
                <th>CLIENTE_IDCLIENTE</th>
                <th>VENTAS_IDVENTAS</th>
            </thead>
            {% for fac in factura_sin_paginacion %}
            <tr>
                <td>{{fac.idfactura}}</td>
                <td>{{fac.fecha}}</td>
                <td>{{fac.Cliente_idCliente}}</td>
                <td>{{fac.Ventas_idVenta}}</td>

                 <td>
                    <a href="/Factura/editar/{{fac.idfactura}}">
                           <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="/Factura/eliminar/{{fac.idfactura}}">
                          <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <br>

<div id="notificaciones">

</div>
{% endblock %}