{% extends 'comunes/base.html' %}
{% block contenido %}
{{super()}}
<h1 class="bg-primary text-center">Registro De Factura</h1>
<form action="/Factura/agregando" method="post">


    <div class="form-group">
		<label for="Cliente">Cliente:</label>
        <select id="clientes" name='Clientes' class="form-control" onchange="obtenerID()">
            <option  class="form-control form-control-lg"  value="0">Selecciona un cliente</option>
            {% for c in cliente %}
                 <option  class="form-control form-control-lg"  value="{{c.idCliente}}">{{ c.usuario.nombre }}</option>
            {% endfor %}
        </select>
	</div>

	<div class="form-group">
		<label for="fecha">Fecha:</label>
		<input type="date" name="Fecha" class="form-control form-control-lg" required>
	</div>
    <div id="ventasdiv" class="form-group">
        <label for="fventa">Folio Venta:</label>

        <select id="ventas" name='Ventas' class="form-control" readonly>
            <option id="removeme" class="form-control form-control-lg">Selecciona primero un cliente</option>
        </select>
    </div>
    <br>


	<button type="submit" class="btn btn-primary mb-3">
		<span class="glyphicon glyphicon-floppy-disk"></span>
		Registrar
	</button>



</form>
    <br>
     <a href="/" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>
<div id="notificaciones">

</div>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static',filename='js/facturas.js')}}"></script>
{% endblock %}