{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
     <h1 class="bg-primary text-center">Registro De Pedidos</h1>
    <form action="/Pedido/Agregando" method="post">

        <div>
            <label>Cliente:</label>
            <select name="idCliente" class="form-control form-control-lg" >
                <option value="opcion">Selecciona una opcion</option>
                {% for c in clientes %}
                    <option value="{{ c.idCliente }}">{{ c.usuario.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <br>
        <div>
            <label>Cantidad Garrafones</label>
            <input type="text" maxlength="3" name="cGarrafones" required class="form-control form-control-lg" placeholder="" >
        </div>
        <br>
        <div>
            <label>¿Los garrafones son prestados?</label>
            <select name="gprestados" class="form-control form-control-lg" >
                <option value="opcion">Selecciona una opcion</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>
        <br>
        <div>
            <label>¿Tienes algun codigo de promocion?</label>
            <input type="text" maxlength="5" name="codigoPromocion" value="No" class="form-control form-control-lg" placeholder="" >
        </div>

        <br>
        <button id="registrar" type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Confirmar
        </button>
        <a href="/" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
        </a>

    </form>
<br>
<div id="notificaciones" style="width: 400px; margin: 0 auto; background-color: brown; color: white;">

</div>
{% endblock %}

{% block scripts %}
{{super()}}

{% endblock %}