{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
<div class="table-responsive">
        <table class="table">
            <thead>
                <th>FOLIO DE VENTA</th>
                <th>CLIENTE</th>
                <th>CAN. GARRAFONES</th>
                <th>PRECIO DE GARRAFON</th>
                <th>SUBTOTAL</th>
                <th>DESCUENTO</th>
                <th>TOTAL</th>
                <th>PROMOCION</th>
                <th>FECHA</th>
                <th>ESTATUS</th>
                <th>TOMAR</th>

            </thead>
            {% for p in p %}
            <tr>       
                    <td>{{p.idVenta}}</td>
                    <td>{{p.cliente.usuario.nombre}}</td>
                    <td>{{p.pe.cantidad_garrafones }}</td>
                    <td>$20.00</td>
                    <td>${{ 20 * p.pe.cantidad_garrafones }}</td>
                    <td>{{p.promociones.porcentaje}}%</td>
                    <td>${{p.precio_total}}</td>
                     {% if p.promociones.codigo == '00000' %}
                            <td>No Aplica</td>
                        {% else %}
                            <td>{{ p.promociones.codigo }}</td>
                        {% endif %}
                    <td>{{p.fecha}}</td>
                    <td>{{p.estatus}}</td>
                    <td>
                        <a href="/tomarPedido/{{p.idVenta}}" class="btn btn-danger mb-3">Tomar pedido</a>
                    </td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <a href="/" class="btn btn-danger mb-3">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
    </a>

<div id="notificaciones">

</div>
{% endblock %}