{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1>Consultar Prestamos</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                 <th>IDPRESTAMO</th>
                <th>EMPLEADO</th>
                <th>VENTAS_IDVENTAS</th>
                <th>GARRAFONES PRESTADOS</th>
                <th>GARRAFONES ENTREGADOS</th>
                <th>IMPORTE</th>
                <th>IMPORTE DEVUELTO</th>
                <th>CLIENTE</th>
            </thead>
            {% for p in prestamo_sin_paginacion %}
            <tr>
                <td>{{p.idPrestamos}}</td>
                <td>{{p.e.usuario.nombre}}</td>
                <td>{{p.Ventas_idVentas}}</td>
                <td>{{p.garrafones_prestados}}</td>
                <td>{{p.garrafones_entregados}}</td>
                <td>${{5.0*p.garrafones_prestados}}</td>
                <td>${{5.0*p.garrafones_entregados}}</td>
                <td>{{p.c.usuario.nombre}}</td>
                

                <td>
                    <a href="/Prestamos/editar/{{p.idPrestamos}}">
                           <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                 
                <td>
                    <a href="/Prestamos/eliminar/{{p.idPrestamos}}">
                          <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <br>

<div id="notificaciones">
          <a href="/" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
          </a>

</div>
{% endblock %}