{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1>Consultar Vehiculos</h1>

     <form action="/tarjetas/consultar/1" method="get">
        Buscar por placas:
         <input class="form-control form-control-lg" type="text" name="filtro">
         <br>
         <input class="btn btn-success" type="submit" value="Buscar" required>
          <a href="{{url_for('consultarTarjetas', pagina=1)}}" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
        </a>
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>IDTARJETA</th>
                <th>IDEMPLEADO</th>
                <th>NUMERO DE TARJETA</th>
                <th>BANCO</th>
                <th>EDITAR</th>
                <th>ELIMINAR</th>
            </thead>
            {% for t in tarjeta_sin_paginacion %}
            <tr>
                <td>{{t.idTarjeta}}</td>
                <td>{{t.Empleado_idEmpleado}}</td>
                <td>{{t.numero_tarjeta}}</td>
                <td>{{t.banco}}</td>

                 <td>
                    <a href="/Tarjetas/editar/{{t.idTarjeta}}">
                           <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="/Tarjetas/eliminar/{{t.idTarjeta}}">
                          <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <br>

<div id="notificaciones">

</div>
{% endblock %}