{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
    <h1>Consultar Tarjetas</h1>

     <form action="/Tarjetas/consultar/1" method="get">
        Buscar por numero de tarjeta:
         <input class="form-control form-control-lg" type="text" name="filtro">
         <br>
         <input class="btn btn-success" type="submit" value="Buscar" required>
          <a href="/" id="regresar" type="submit" class="btn btn-warning mb-3">
            Regresar
        </a>
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>IDTARJETA</th>
                <th>EMPLEADO</th>
                <th>NUMERO DE TARJETA</th>
                <th>BANCO</th>
                <th>EDITAR</th>
                <th>ELIMINAR</th>
            </thead>
            {% for t in tarjetas.items %}
            <tr>
                <td>{{t.idTarjeta}}</td>
                <td>{{t.empleado.usuario.nombre}}</td>
                <td>{{t.numero_tarjeta}}</td>
                <td>{{t.banco}}</td>

                 <td>
                    <a href="/Tarjetas/editar/{{t.idTarjeta}}">
                           <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="/Tarjetas/eliminar/{{t.idTarjeta}}">
                          <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
 <div>
    <ul class="pagination">
        {% for page in tarjetas.iter_pages() %}
            {% if page %}
                {% if page == pagina %}
                    <li class="active"><a href="#">{{page}}</a></li>
                {% else %}
                    <li><a href="{{url_for('consultarTarjetas', pagina=page)}}">{{ page }}</a></li>
                {% endif %}
            {% else %}
            <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
<div id="notificaciones">

</div>
{% endblock %}